@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color:#162038;
    font-family: "Inter", sans-serif;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    color: white;
    height: 100vh;
}
.left_side{
    width: 30%;
}
.platform{
    display: flex;
    align-items: center;
    gap: 30px;
    a{
        text-decoration: none;
        color: white;
    }
}
form{
    text-transform: capitalize;
    /* font-size: large; */
    background-color: #273554;
    border-radius: 10px;
    padding: 1em;
    
}
.subject ,.fullname ,.phone , .email ,.message{
    padding: 0 .5em ;
}
#subject ,#name ,#phone , #email {
    margin: 1em 0;
}

form input:focus,
form textarea:focus {
  color: white;
  outline: none;
  box-shadow:1px 1px 10px 1px #0076FF;
}
form > div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}
input , textarea{
    font-size: 15px;
    padding-left: 15px; 
    height: 2.5em;
    width: 15em;
    background-color: rgb(79, 90, 126);
    border: none;
    border-radius: 5px;
}
textarea::placeholder,input::placeholder{
    color: white;
    font-family: "Noto Sans", sans-serif;
    padding-top: 5px;
}
.message{
    flex-direction: column;
    margin-top: 1em;
}
#message{
    height: 10em;
    font-size: 15px;
    width: 97%;
    resize: none;
    color: white;
    margin-top: 1em;
    padding-top: 5px;
}
form>button{
    background-color: #0076FF;
    color: white;
    border: 0;
    border-radius: 4px;
    width: 10em;
    height: 3em;
    box-shadow: 1px 2px 5px#0076FF;
    margin: 2em;
    cursor: pointer;
}
@media(max-width:800px){
    section{
        display: flex;
        flex-direction: column;
    }
    .left_side{
        width: 100%;
        padding: 0;
        margin: 10px;
    }
    form >div{
        display: flex;
        justify-content: center;
    }
    input{
        width: 90%;
        margin: 2px;
    }
    .subject ,.fullname ,.phone , .email{
        width: 100%;
    }
    form{
        width: 90%;
    }
@media(max-width:400px){
    form div{
        display: flex;
        flex-direction: column;
    }
    .subject ,.fullname ,.phone , .email{
        padding: 10px;
    }
    input{
        width: 90%;
        margin: 2px;
    }
    form{
        width: 90%;
    }
}

}